body {
  background: linear-gradient( white, grey, beige);
}

.container {
  font-family: 'Oswald', sans-serif;
  background: linear-gradient( white, beige, rgb(127, 138, 127));
}
h1 {
  text-align: center;
}

img {
  float: right;
  height: 10%;
  width: 10%;
  margin-top: 10px ;
}

.jumbotron h5{
  color: red;
  background: linear-gradient( grey, white, lightpink);
}

.sideMenu {
  font-size: 12;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top:20px;
  background: linear-gradient( white, lightgrey, white);
  max-width: 300px;
  border: 2px solid white;

}

.fa {
  size: 2px;
  color: white;
}

footer {
  text-align: center;
}