.container {
  font-family: 'Oswald', sans-serif;
}

.jumbotron h5{
  color: red;
}

.sideMenu {
  height: 100;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:lightblue;
  overflow-x: hidden;
  padding-top:20px;
  background: lightgray;
  max-width: 300px;
}

.fa {
  size: 2px;
  color: white;
}